<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>My Activities</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div id="athlete-profile" class="card">
                <div class="card-body">
                    <img src="assets/images/avatar.png" id="profilePicture">
                    <br><br><br>
                    <h5 id="name" class="mb-3">{{user?.firstName}} {{user?.firstSurname}}</h5>
                    <div id="stats" class="row">
                        <div class="col">Following</div>
                        <div class="col">Followers</div>
                        <div class="col">Activities</div>
                    </div>
                    <div id="stats" class="row">
                        <div class="col">N</div>
                        <div class="col">N</div>
                        <div class="col">N</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row" *ngFor="let activity of myActivities; let i as index">
                <div class="card">
                    <div class="card-body">
                        <h3>{{activity.sportName}}</h3>
                        <div class="row">
                            <div class="col">Distance</div>
                            <div class="col">Time</div>
                            <div class="col">Date</div>
                        </div>
                        <div class="row">
                            <div class="col">{{activity.mileage}} km</div>
                            <div class="col">{{activity.duration}}</div>
                            <div class="col">{{activity.date}}</div>
                        </div>
                        <div id="{{'map' + activity.id?.toString()}}" class="map"></div>
                        <!-- <img id="route-map" [src]="routeMap"> -->
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="comments" [hidden]="!activity.hasComments"
                                *ngFor="let comment of topComments;let t as index">
                                <div class="row" *ngIf="comment.activity_id === activity.id">
                                    <div class="col-md-auto">
                                        <br>
                                        <img [src]="comment.blobProfile" id="friend-img">
                                    </div>
                                    <div class="col-md-7">
                                        <div id="bg-comment" class="card">
                                            <div id="comment-wrapper" class="card-body">
                                                <h6>{{comment.firstName}} {{comment.lastName}}</h6>
                                                <p>{{comment.content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col"><a id="viewAllComments-a" (click)="showComments(activity.id)"
                                        [hidden]="!activity.moreComments">View all comments</a></div>
                            </div>
                            <div class="moreComments" *ngFor="let comment of comments;let i as index">
                                <div class="row" [hidden]="!activity.lessComments"
                                    *ngIf="comment.activity_id === activity.id">
                                    <div class="col-md-auto">
                                        <br>
                                        <img [src]="comment.blobProfile" id="friend-img">
                                    </div>
                                    <div class="col-md-7">
                                        <div id="bg-comment" class="card">
                                            <div id="comment-wrapper" class="card-body">
                                                <h6>{{comment.firstName}} {{comment.lastName}}</h6>
                                                <p>{{comment.content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col"><a id="viewAllComments-a" (click)="showLessComments(activity.id)"
                                        [hidden]="!activity.lessComments">Less comments</a></div>
                            </div>
                            <form [formGroup]="commentForm">
                                <div class="row">
                                    <div class="col-md-auto"><img src="assets/images/avatar.png" id="friend-img"></div>

                                    <div class="col">
                                        <input type="text" placeholder="Write a comment..." class="form-control"
                                            formControlName="new_comment">
                                    </div>
                                    <div class="col-2">
                                        <img id="sendBtn" src="assets/images/send.png" alt="send"
                                            (click)="postComment(commentForm.value,activity.id)">
                                    </div>

                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>