.line {
    height: 1px;
    background: #a2a2a2;
}

#challengeCard {
    width: 235px;
    height: 180px;
}

/* button {
    margin: 0 3%;
} */

#info {
    margin: 25% 0;
    height: 20px;
    width: 20px;
}

#info:hover {
    cursor: pointer;
}

p {
    font-size: 12px;
}