<div class="container">
    <br>
    <h2>Challenges</h2>
    <div class="line"></div>
    <br>
    <br>
    <div class="row mb-4" *ngFor="let row of challengesMatrix;let i as index">
        <div class="col-md-auto" *ngFor="let challenge of row;let j as index">
            <div id="challengeCard" class="card">
                <div class="card-body">
                    <h5>{{challenge.name}}</h5>
                    <p>{{challenge.type}}</p>
                    <p>Until: {{challenge.validThru}}</p>
                    <div class="row">
                        <div class="col-md-auto"><button class="btn btn-primary" [ngStyle]="{
                            'background-color' : challenge.color,
                            'color' : challenge.font
                          }" (click)="joinChallenge(challenge.id)" id="buttons">{{challenge.btn}}</button></div>
                        <div class="col"><img id="info" (click)="moreInfo(challenge)" src="assets/images/info.png">
                        </div>
                    </div>
                    <!--joinChallenge(challenge.id)-->
                </div>
            </div>
        </div>
    </div>
</div>