<div class="container">
    <h2>My Profile</h2>
    <div class="profileWrapper">
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>Current Photo</p>
            </div>
            <div class="col">
                <label class="hoverable" for="fileInput">
                    <img id="profile-img" [src]="url" title="Change your profile picture">
                </label>
                <input id="fileInput" type="file" name="form-photo" class="form-photo form-control"
                    formControlName="profilePicture" (change)="onSelectFile($event)">
            </div>
            <div class="col" id="edit-col">
                <br><br>
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>First Name</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>Second Name</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>First Surname</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>Second Surname</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>Birth Date</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>Nationality</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <p>Level</p>
            </div>
            <div class="col">
                <p><strong>apiInfo</strong></p>
            </div>
            <div class="col" id="edit-col">
                <img src="assets/images/edit.png" alt="edit" id="edit-icon">
            </div>
        </div>
        <br>
        <div class="line"></div>
        <br>
    </div>


</div>