.line {
    height: 1px;
    background: #dcdcdc;
    width: 90%;
}

#fileInput {
    display: none;
}

#profile-img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    cursor: pointer;
}

p {
    font-size: 20px;
}

.row:hover {
    background-color: rgb(236, 236, 236);
}

.row {
    width: 90%;
    cursor: pointer;
}

.row:hover #edit-icon {
    display: block;
}

#edit-icon {
    height: 50px;
    width: 50px;
    display: none;
}

[hidden] {
    display: none !important;
}

input {
    border: 0;
    border-bottom: 1px solid #00AF3D;
    background: transparent;
    width: 90%;
    padding: 8px 0 5px 0;
    font-size: 15px;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #00AF3D;
}

select {
    border: none;
}