<div class="row align-items-center">
  <div id="col1" class="col">
    <div id="cont" class="container">
      <label id="description">CREATE A RACE <br>
        To create a Race you must indicate the name, the cost, the date of the race, the account Number and the sponsor. <br>
        The system will create a specific id for each Race.
      </label>
    </div>
  </div>
  <div class="col">
    <h3>Create a Race</h3>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Name of the competition</span>
      <input #name type="text" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Date</span>
      <input #date type="date" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Activity</label>
      <select #activity class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option *ngFor="let Activity of activities">{{Activity.id}} {{Activity.sportName}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Cost</span>
      <input #cost type="number" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Account Number 1</span>
      <input #account1 type="number" aria-label="weight" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Account Number 2</span>
      <input #account2 type="number" aria-label="weight" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Category</label>
      <select #category class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Access</label>
        <select #access class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option >Public</option>
          <option id={{group}} *ngFor="let group of groups"> Group: {{group.name}}</option>
        </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Sponsor 1</label>
        <select #sponsor class="form-select" id="inputGroupSelect01">
          <option selected>None</option>
          <option *ngFor="let sponsor of sponsors" >{{sponsor.id}} {{sponsor.comercialName}}</option>
        </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Sponsor 2</label>
        <select #sponsor1 class="form-select" id="inputGroupSelect01">
          <option selected>None</option>
          <option *ngFor="let sponsor of sponsors" >{{sponsor.id}} {{sponsor.comercialName}}</option>
        </select>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!----Action buttons-->
      <button id="span" id="buttons" class="btn btn-primary me-md-2" type="button" routerLink="/menu">Cancel</button>
      <button id="span" id="buttons" class="btn btn-primary" type="button" (click)="postRace(name.value, date.value, activity.value,cost.value,access.value,category.value,account1.value,account2.value,sponsor.value,sponsor1.value)" routerLink = "/menu" >Create</button>
    </div>
  </div>
</div>
