<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Race Number</th>
              <th scope="col">Name of the Race</th>
              <th scope="col">Cost</th>
              <th scope="col">Date</th>
              <th scope="col">Access</th>
              <th scope="col">Category</th>
              <th scope="col">Opcions</th>
              <th scope="col">Info </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let race of races">
              <th scope="row">{{race.id}}</th>
              <td>{{race.name}}</td>
              <td>{{race.cost}}</td>
              <td>{{race.date}}</td>
              <td>{{race.access}}</td>
              <td>{{race.categoryName}}</td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button" (click)="saveRaceId(race.id)" routerLink="/EditRace">Edit </a>
                <a id="button" class="btn btn-primary btn-sm "  role="button">Delete </a>
              </td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button" (click)="saveRaceId(race.id)" routerLink="/InfoRace">Info </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>

