<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Race Number</th>
              <th scope="col">Name of the Race</th>
              <th scope="col">Cost</th>
              <th scope="col">Date</th>
              <th scope="col">Access</th>
              <th scope="col">Activity</th>
              <th scope="col">Bank Account</th>
              <th scope="col">Sponsor 1</th>
              <th scope="col">Sponsor 2</th>
              <th scope="col">Opcions</th>
              <th scope="col">Info </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Biking around the GAM</td>
              <td>$ 20</td>
              <td>27/12/22</td>
              <td>Public</td>
              <td>Biking</td>
              <td>200115166120</td>
              <td>CocaCola</td>
              <td>Gatorade</td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button" routerLink="/EditRace">Edit </a>
                <a id="button" class="btn btn-primary btn-sm "  role="button">Delete </a>
              </td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button" routerLink="/InfoRace">Info </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>

