<div id="container" class="container">
  <div id="row1" class="row">
    <div id="col1" class="col">
      <h3>Edit the Group's Information</h3>
      <div class="input-group mb-3">
        <span id="span" class="input-group-text">Name of the Group</span>
        <input #color type="text" aria-label="Color" class="form-control" disabled value={{groupName}}>
      </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Description</span>
      <input #description type="text" aria-label="Color" class="form-control">
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!----Action buttons-->
      <button id="span" id="buttons" class="btn btn-primary" type="button" (click)="updateGroup(description.value)" routerLink="/GroupsManagement">Edit</button>
    </div>
    </div>
    <div id="col2" class="col">
      <h2>Participants</h2>
      <table #table id= "table"class="table">
        <thead id="thead">
          <tr>
            <th>Name</th>
            <th>Surnames</th>
            <th>Age</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Raul</td>
            <td>Monge Mora</td>
            <td>36</td>
            <td><button id="buttons" class="btn btn-primary" type="button">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button id="buttons" class="btn btn-primary me-md-2" type="button" routerLink="/GroupsManagement">Go Back</button>
      </div>
    </div>
  </div>

</div>
