<div class="container-fluid">
    <br><br><br>
    <div class="row">
        <div class="col-3">
            <div id="athlete-profile" class="card">
                <div class="card-body">
                    <h5 id="name" class="mb-3">FirstName SecondName</h5>
                    <div id="stats" class="row">
                        <div class="col">Following</div>
                        <div class="col">Followers</div>
                        <div class="col">Activities</div>
                    </div>
                    <div id="stats" class="row">
                        <div class="col">N</div>
                        <div class="col">N</div>
                        <div class="col">N</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5>FriendName LastName</h5>
                    <h3>Activity Title</h3>
                    <div class="row">
                        <div class="col">Distance</div>
                        <div class="col">Elev Gain</div>
                        <div class="col">Time</div>
                        <div class="col">Achievements</div>
                    </div>
                    <div class="row">
                        <div class="col">N km</div>
                        <div class="col">N m</div>
                        <div class="col">Nh Nm</div>
                        <div class="col">N</div>
                    </div>
                    <img id="route-map" [src]="routeMap">
                </div>
            </div>
        </div>
        <div class="col-3 px-4">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h4>Groups on Stravia</h4>
                        <p>Why do it alone? Get more out of your Stravia experience by joining or creating a Club.
                        </p>
                        <a href="">Find or create a group</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h4>Your Friends on Stravia</h4>
                        <p>Find and invite friends to see their adventures and share some encouragement.</p>
                        <a href="">Find and invite Your Friends</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>