.login-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

img {
    height: 70%;
    width: 70%;
}

img:hover {
    cursor: pointer;
}

/* input[type="date"]:not(.has-value):before {
    color: gray;
    content: attr(placeholder);
} */