<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Challenge Number</th>
              <th scope="col">Name of the challenge</th>
              <th scope="col">Valid Thru</th>
              <th scope="col">Type</th>
              <th scope="col">Access</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chall of challenge">
              <th scope="row">{{chall.id}}</th>
              <td>{{chall.name}}</td>
              <td>{{chall.validThru}}</td>
              <td>{{chall.type}}</td>
              <td>{{chall.access}}</td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button" (click)="saveChallengeId(chall.id)" routerLink="/EditChallenge" >Edit </a>
                <a id="button" class="btn btn-primary btn-sm " role="button">Delete </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>
