<div class="container">
    <br>
    <h2>Athlete Search</h2>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" placeholder="Athlete Name" class="form-username form-control">
        </div>
        <div class="col">
            <button class="btn btn-primary" id="buttons">Search</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row" *ngFor="let athlete of athletes; let i as index">
        <ng-container *ngIf="i % 2 === 0;else greenTemplate">
            <div class="normal">
                <div class="row">
                    <div class="col-md-2"><img src="assets/images/avatar.png" id="profilePic"></div>
                    <div class="col-md-2">
                        <div class="row" id="athleteName">
                            FirstName LastName
                        </div>
                        <div class="row mb-3" id="greyText">Level - Age</div>
                        <div class="row mb-3">
                            <button class="btn btn-primary" id="buttons">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #greenTemplate>
            <div class="greenRow">
                <div class="row">
                    <div class="col-md-2"><img src="assets/images/avatar.png" id="profilePic"></div>
                    <div class="col-md-2">
                        <div class="row" id="athleteName">
                            FirstName LastName
                        </div>
                        <div class="row mb-3" id="greyText">Level - Age</div>
                        <div class="row mb-3">
                            <button class="btn btn-primary" id="buttons">Add</button>
                        </div>
                    </div>
                </div>

            </div>

        </ng-template>

    </div>
</div>