<div  id="background" >
  <div class="container">
    <div class="row align-items-center">
      <div id="col" class="col">
      </div>
      <div id="col2" class="col">
        <table id="table" class="table "> <!--Se debe llenar con el la informacion de la BD-->
          <thead>
            <tr>
              <th scope="col">Group Name</th>
              <th scope="col">Description</th>
              <th scope="col">Options</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Athletic Group</th>
              <td>Group of athletic people, working together</td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button" routerLink="/GroupInfo">Edit </a>
              </td>
              <td>
                <a id="button" class="btn btn-primary btn-sm "  role="button">Delete </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id ="col" class="col">

      </div>
    </div>
  </div>
</div>

