<div id="container" class="container">
  <div id="row1" class="row">
    <div id="col1" class="col">
      <div id="content1" class="container">
        <div class="row">
          <H2>Name of the Race</H2> <!---Add name-->
        </div>
        <div class="row">
          <H3>Route</H3> <!--add gpx view-->
          <h5>Race around the GAM</h5>
        </div>
        <div class="row">
          <H3>Activity</H3> <!--add activity-->
          <h5>Biking</h5>
        </div>
        <div class="row">
          <H3>Route</H3> <!--Add map-->
          <h5>Archivo</h5>
        </div>
      </div>
    </div>
    <div id="col2" class="col">
      <h2>Participants</h2>
      <table #table id= "table"class="table">
        <thead id="thead">
          <tr>
            <th>Name</th>
            <th>Surnames</th>
            <th>Age</th>
            <th>Bill</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Raul</td>
            <td>Monge Mora</td>
            <td>36</td>
            <td><button id="buttons" class="btn btn-primary" type="button">See</button></td>
            <td><button id="buttons" class="btn btn-primary" type="button">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button id="buttons" class="btn btn-primary me-md-2" type="button">Participants Report</button>
        <button id="buttons" class="btn btn-primary" type="button">Positions Report</button>
      </div>
    </div>
  </div>

</div>
