#thead{
  background-color: #00AF3D;
  color: white;
}
#col1{
  margin-top: 30px;
  text-align: left;
  height: 530px;
  border-right: #00AF3D solid 10px;

}
#col2{
  margin-top: 30px;

}
#content1{
  border: #00AF3D dotted;
  margin-right: 70px;
}
h3{
  color: #00AF3D;
}
