<div class="row align-items-center">
  <div id="col1" class="col">
    <div id="cont" class="container">
      <label id="description">CREATE A Challenge <br>
        To create a Challenge you must indicate the name, the challenge's expiration, and the access. <br>
        The system will create a specific id for each Challenge.
      </label>
    </div>
  </div> <!--Input with the baggage information-->
  <div class="col">
    <h3>Create a New Group</h3>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Name of the Group</span>
      <input #name type="text" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Description</span>
      <input #description type="text" aria-label="Color" class="form-control">
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!----Action buttons-->
      <button id="span" id="buttons" class="btn btn-primary me-md-2" type="button" routerLink="/menu">Cancel</button>
      <button id="span" id="buttons" class="btn btn-primary" type="button" (click)="postGroup(name.value, description.value)" routerLink="/menu">Create</button>
    </div>
  </div>
</div>
