<div class="row align-items-center">
  <div id="col1" class="col">
    <div id="cont" class="container">
      <label id="description">EDIT A RACE <br>
        You can edit a race and change all the information of this<br>
        The system won't let you change the id of the race.
      </label>
    </div>
  </div> <!--Input with the baggage information-->
  <div class="col">
    <h3>Edit a Race</h3>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Race Id</span>
      <input #color type="text" aria-label="Color" class="form-control" disabled>
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Name of the Race</span>
      <input #color type="text" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Date</span>
      <input #color type="date" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Activity</label>
      <select #user class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option>Running</option>
        <option>Swimming</option>
        <option>Biking</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Cost</span>
      <input #color type="number" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Account Number</span>
      <input #weight type="number" aria-label="weight" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Access</label>
        <select #fly class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option >Public</option>
          <option> Group 1</option>
          <option>Group 2</option>
        </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Sponsor 1</label>
        <select #fly class="form-select" id="inputGroupSelect01">
          <option selected>None</option>
          <option >CocaCola</option>
          <option>Gatorade</option>
          <option>Imperial</option>
        </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Sponsor 2</label>
        <select #fly class="form-select" id="inputGroupSelect01">
          <option selected>None</option>
          <option >CocaCola</option>
          <option>Gatorade</option>
          <option>Imperial</option>
        </select>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!----Action buttons-->
      <button id="span" id="buttons" class="btn btn-primary me-md-2" type="button" routerLink="/menu">Cancel</button>
      <button id="span" id="buttons" class="btn btn-primary" type="button" routerLink="/menu">Edit</button>
    </div>
  </div>
</div>
