<div class="row align-items-center">
  <div id="col1" class="col">
    <div id="cont" class="container">
      <label id="description">EDIT A RACE <br>
        You can edit a race and change all the information of this<br>
        The system won't let you change the id of the race.
      </label>
    </div>
  </div> <!--Input with the baggage information-->
  <div class="col">
    <h3>Edit a Race</h3>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Race Id</span>
      <input #color type="text" aria-label="Color" class="form-control" disabled value={{raceId}}>
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Name of the competition</span>
      <input #name type="text" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Date</span>
      <input #date type="date" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Activity</label>
      <select #activity class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option *ngFor="let Activity of activities">{{Activity.id}} {{Activity.sportName}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Cost</span>
      <input #cost type="number" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Category</label>
      <select #category class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Access</label>
        <select #access class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option >Public</option>
          <option id={{group}} *ngFor="let group of groups"> Group: {{group.name}}</option>
        </select>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!----Action buttons-->
      <button id="span" id="buttons" class="btn btn-primary me-md-2" type="button" routerLink="/competition">Cancel</button>
      <button id="span" id="buttons" class="btn btn-primary" type="button" (click)="updateRace(name.value, date.value, activity.value,cost.value,access.value,category.value)" routerLink="/competition">Edit</button>
    </div>
  </div>
</div>
