<div class="row align-items-center">
  <div id="col1" class="col">
    <div id="cont" class="container">
      <label id="description">CREATE A Challenge <br>
        To create a Challenge you must indicate the name, the challenge's expiration, and the access. <br>
        The system will create a specific id for each Challenge.
      </label>
    </div>
  </div> <!--Input with the baggage information-->
  <div class="col">
    <h3>Create a Challenge</h3>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Name of the challenge</span>
      <input #color type="text" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span id="span" class="input-group-text">Valid Thru</span>
      <input #color type="date" aria-label="Color" class="form-control">
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Category</label>
      <select #user class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label id="span" class="input-group-text" for="inputGroupSelect01">Access</label>
        <select #fly class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option >Public</option>
          <option id={{group}} *ngFor="let group of groups"> Group: {{group.name}}</option>
        </select>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!----Action buttons-->
      <button id="span" id="buttons" class="btn btn-primary me-md-2" type="button" routerLink="/menu">Cancel</button>
      <button id="span" id="buttons" class="btn btn-primary" type="button" routerLink="/menu">Create</button>
    </div>
  </div>
</div>
