<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col"><img id="avatar-img" src="assets/images/avatar.png" alt="profilePicture"></div>
                <div class="col">
                    <h5>Username</h5>
                    <h6>FirstName SecondName</h6>
                </div>

            </div>
            <div class="row">
                <div id="account-card" class="card">
                    <p>Account</p>
                </div>
            </div>

        </div>
        <div id="settings-col" class="col-6">
            <br><br><br>
            <div class="settings">
                <h2> Change Username
                </h2>
                <div class="line"></div>
                <br>
                <p>Once you have changed your username, take in mind that your last username can be taken.</p>
                <button id="buttons" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#usernameModal">Change your username</button>
            </div>
            <br><br>
            <div class="settings">
                <h2> Change Password
                </h2>
                <div class="line"></div>
                <br>
                <p>Choose your new password.</p>
                <button id="buttons" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#passwordModal">Change your password</button>
            </div>
            <br>
            <br>
            <div class="settings">
                <h2 class="delete"> Delete account
                </h2>
                <div class="red-line"></div>
                <br>
                <p>Once you delete your account, there is no going back. Please be certain.</p>
                <button class="btn btn-danger">Delete your account</button>
            </div>
            <br>
        </div>
    </div>
</div>

<!-- Username Modal -->
<div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="usernameModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="pos-r">
                        <input id="form-username" type="text" name="form-username" placeholder="New Username"
                            formControlName="userName" class="form-username form-control">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button id="buttons" type="submit"
                        class="btn btn-primary form-control"><strong>Submit</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="pos-r">
                        <input id="form-password" type="password" name="form-password" placeholder="New Password"
                            formControlName="password" class="form-password form-control">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button id="buttons" type="submit"
                        class="btn btn-primary form-control"><strong>Submit</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>