<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div id="item1" class="carousel-item active">
      <div id="row1" class="row">
        <div class="col">
          <div id="groupCard" class="card">
            <div class="card-body" id="groupCard-body">
              <h5>Create a Challenge</h5>
              <p>Create a new public challenge to be completed or create a new one for your group of friends
              </p>
              <button id="buttons"class="btn btn-primary" routerLink="/NewChallenge">Go</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div id="groupCard" class="card">
            <div class="card-body" id="groupCard-body">
                <h5>My Challenges</h5>
                <p>Check all the challenges that you have created. Try to edit them!
                </p>
                <button id="buttons"class="btn btn-primary" routerLink="/challenge">Go</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="item2" class="carousel-item">
      <div id="row1" class="row">
        <div class="col">
          <div id="groupCard" class="card">
            <div class="card-body" id="groupCard-body">
              <h5>Create a Race</h5>
              <p>Create a new public race to be completed or create a new one for your group of friends
              </p>
              <button id="buttons"class="btn btn-primary" routerLink="/NewCompetition">Go</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div id="groupCard" class="card">
            <div class="card-body" id="groupCard-body">
                <h5>My Races</h5>
                <p>See all the contests you have created. Check the invoices of the participants, edit a contest or delete it!
                </p>
                <button id="buttons"class="btn btn-primary" routerLink="/competition">Go</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
