<div class="container">
    <br>
    <h2>Race Inscription</h2>
    <div class="line"></div>
    <br>
    <h4>{{race?.name}}</h4>
    <h6>{{race?.categoryName}}</h6>
    <h6>Date: {{race?.date}}</h6>
    <br>
    <h4>Confirmation</h4>
    <p>Please attach the file with the payment receipt.</p>
    <form [formGroup]="paymentForm" role="form">
        <input type="file" class="form-control" id="payment" title="Attach the payment receipt"
            (change)="onSelectFile($event)" accept="image/jpeg" formControlName="bill">
        <br>
        <button (click)="confirm(paymentForm.value)" id="buttons" class="btn btn-primary">Confirm</button>
    </form>
</div>